*, *::after, *::before {
  box-sizing: border-box;
}

.modal-body .categories {
padding: 1rem;
margin: 1rem;
height: 10rem;
width: 10rem;
background-color: #1F8AC0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 1.5rem;
/* font-family: 'Glegoo', serif; */
color: #efc9af;
}
a{
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 15px;
  z-index: 100;
  background-color: #c9ff04;;
  width: auto;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}